:root {
  // colors
  --main-color: #cea348;
  --dark-main-color: #c1902d;
  --secondary-color: #2c780c;
  --text-color: #040037;
  // fonts
  --main-font: "Tajawal", sans-serif;
  --secondary-font: "Tajawal", sans-serif;
}

:root[dir="ltr"] {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Cinzel Decorative", serif;
}
