:root {
  // colors
  --main-color: #cea348;
  --dark-main-color: #c1902d;
  --secondary-color: #2c780c;
  --text-color: #040037;
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #323232;
  --section-bg-color: #222222;
  --title-color: #101010;
  --blue-color: #040037;

  --dark-gray: #494949;
  --dark-blue-gray: #14171f;
  --light-gray: #b1b1b1;
  --gray: #6a6a6a;
  --dark-slate-gray: #2e3138;
  --medium-gray: #7e7e7e;
  --medium-gray-700: #777777;

  // fonts
  --main-font: "Tajawal", sans-serif;
  --secondary-font: "Tajawal", sans-serif;
}

:root[dir="ltr"] {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Cinzel Decorative", serif;
}
