* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html[dir='rtl'] {
  input[type="email"] {
    direction: rtl;
  }

  .dp__pointer {
    text-align: end;
  }
}